body{
    color: antiquewhite;
    background-color: black;
}

#BMW{
    text-align: center;
}
#AstonMartin{
    text-align: center;
}
table, th, td, tr{
    border: 1px solid;
    border-collapse: collapse;
    border-color: antiquewhite;
    text-align: center;
    align-self: center;
}
details{
    text-align: left;
}
a{
    color: blue;
}